<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span4 offset4">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-vertical' }) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name, autofocus: true, placeholder: 'this will be displayed to other users', input_html: {size: 40, maxlength: 30} %> 
      <%= f.input :email, placeholder: '@purdue.edu emails only', input_html: {size: 40, maxlength: 30} %>
      <%= f.input :password, required: true, input_html: {size: 40, maxlength: 30} %>
      <%= f.input :password_confirmation, required: true, input_html: {size: 40, maxlength: 30} %>
      <%= f.button :submit, 'Sign up', class: 'btn btn-large btn-primary' %>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>