<tr>
  <td>
    <%= event.whendate.strftime("%m/%d/%y") %> (<%= event.whentime.strftime("%I:%M %p") %>)
  </td>
  <td>
    <%= render 'events/event_link', object: event %>
    <% if user_signed_in? %>
      <% if current_user?(event.user) || current_user.has_role?(:admin) %>
        ( <%= render 'shared/edit_event', object: event %> | <%= render 'shared/delete_event', object: event %> )
      <% end %>
    <% end %>
  </td>
  <td>
    <%= event.where %>
  </td>
  <td>
    <%= event.category %>
  </td>
</tr>
