<% provide(:title, 'Create Event') %>
<h1>Create Event</h1>

<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for(@event, :as => @event, :url => new_event_path, :html => {:class => 'form-vertical' }) do |f| %>
      <%= f.error_notification %>

      <%= f.input :name %>
      <%= f.input :details %>
      <%= f.input :where %>
      <%= f.input :source %>

      <div class="control-group date required">
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on">date</span>
            <span class="input-append date" id="datepicker" data-date="" data-date-format="dd-mm-yyyy">
              <input class="span2" size="16" type="text" name="event[whendate]" value="">
              <span class="add-on"><i class="icon-th"></i></span>
            </span>

            <span class="add-on">time</span>
            <span class="input-append bootstrap-timepicker-component">
              <input id="timepicker" class="input-small" type="text" name="event[whentime]" /><span class="add-on"><i class="icon-time"></i></span>
            </span>
          </div>
        </div>
      </div>

      <%= f.button :submit, 'Create Event', :class => 'btn btn-large btn-primary' %>
    <% end %>
  </div>
</div>