<% provide(:title, @event.name) %>

<div class="hero-unit">
  <h1>
      <%= @event.name %>
  </h1>
  <h2>
    <p>
      Details: 
      <span><%= @event.details %></span>
    </p>
    <p>
      Location: 
      <span><%= @event.where %></span>
    </p>
    <p>
      Source: 
      <span><%= @event.source %></span>
    </p>
    <p>
      Category: 
      <span><%= @event.category %></span>
    </p>
    <p>
      Date: 
      <span><%= @event.whendate.to_formatted_s(:long) %> @ <%= @event.whentime.strftime("%I:%M %p") %></span>
    </p>
    <p>
      Added by: 
      <span><%= link_to @event.user.name, @event.user %></span>
    </p>
  </h2>
</div>